header {
  text-align: center;
  background-color: white;

  h1 {
    margin: 0;
    padding: 20px 0 20px 0;
  }

  a {
    text-decoration: none;
    color: black;
  }

  .title {
    padding: 0;
    box-shadow: 0 0 15px black;

  }
}

.return {

  position: absolute;
  top: 50px;
  left: 50px;
  font-size: 3.5rem;
  display: block;
}


@include desktop {
  header {
    h1 {
      font-size: 2.5rem;
    }
  }
  .return {
    top: 35px;
    font-size: 1.5rem;
  }
}