.num {
  width: 30px;
  height: 60px;
  border-radius: 60px;
  padding: 15px 22px 0 22px;
  background-color: $color-primary;
  position: absolute;
  margin-top: 70px;
  margin-left: -40px;
  color: white;
}

.coche {

  width: 85%;
  height: 200px;
  font-size: 2rem;
  border-radius: 60px;
  background: #f6f6f6;
  border: none;

  i {
    padding-right: 50px;
    padding-left: 50px;
    color: grey;
    font-size: 3rem;
  }

  span {
    color: black;
    font-size: 2.5rem;
    align-items: center;
  }
}

.coche:hover {
  filter: none;
  background: #f5edff;

  i {
    color: $color-primary;
  }

}

@include desktop {

.num {
  width: 0;
  height: 30px;
  font-size: 1rem;
  margin: 50px 0 0 10px;
}
  .coche {
    width: 30vw;
    height: 100px;
    margin: 20px 0 20px 20px;

    i {
      font-size: 1.5rem;
      padding-right: 12px;
    }
    span {
      font-size: 1rem;
    }
  }
}