body {
  margin: 0;
  padding: 0;
  width: 100vw;
  font-size: 2.5rem;
  text-align: center;
  h1, h2, h3, h4, h5, h6 {
    font-family: $font-shrikhand;
  }
  p, input, span {
    font-family: $font-roboto;
    margin: 5%;
  }
}

.txt {
  margin-top: 0;
  padding-top: 5%;
  font-size: 1.5rem;


  &__bold {
    font-weight: bold;
    font-size: 3.5rem;
  }
}

.padding-bloc {
  padding: 50px 0 50px 0;
}

@include desktop {
  .txt {
    padding-top: 0;
    margin-bottom: 2%;
    font-size: 1rem;
    &__bold {
      font-size: 1.5rem;
    }
  }
}
