header {
  text-align: center;

  a {
    text-decoration: none;
    color: black;
  }
  .title {
    padding: 0.1rem;
    box-shadow: 0 0 15px black;
    margin: 0 0 10px 0;
  }
}

.research {
  background-color: lightgrey;
  padding: 0;
  input {
    font-size: 3rem;
    background-color: lightgrey;
    border: 0;
    width: 40%;
    &::placeholder {
      color: black;
    }
  }
}