.btn {
  width: 65%;
  height: 150px;
  border-radius: 150px;
  background: linear-gradient(0.48turn, $color-secondary, $color-primary);
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  border: none;
  box-shadow: 5px 5px 10px black;
  margin-bottom: 100px;

  &:hover {
    filter: brightness(1.25);
    box-shadow: 10px 10px 10px black;
  }
}

.num {
  width: 50px;
  height: 80px;
  border-radius: 60px;
  padding: 15px 22px 0 22px;
  background-color: $color-primary;
  position: absolute;
  margin-top: 80px;
  margin-left: -40px;
  color: white;
}

.coche {

  width: 85%;
  height: 250px;
  font-size: 2.5rem;
  border-radius: 60px;
  background: #f6f6f6;

  i {
    padding-right: 50px;
    padding-left: 50px;
    color: grey;
    font-size: 4rem;
  }

  span {
    color: black;
    font-size: 3rem;
    align-items: center;
  }
}

.coche:hover {
  filter: none;
  background: #f5edff;

  i {
    color: $color-primary;
  }

}

.card {
  align-items: center;
  width: 90%;
  height: 700px;
  border-radius: 40px;
  box-sizing: content-box;
  background-color: white;
  margin: 75px 5% 0 5%;
  box-shadow: 5px 5px 10px black;

  img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
}

.sous_card {
  display: flex;
  flex: 2;
  flex-direction: row;

  i {
    margin-top: 40px;
    font-size: 4rem;
    width: 20%;
  }
}

.txt_card {
  width: 80%;
  text-align: left;
  margin-top: 30px;

  .txt {
    padding: 0;
    margin-bottom: 10px;
    font-size: 3rem;

  }
}